(application/controllers/Inscripciones.php, application/views/admin/header_admin.php, application/views/admin/imprimir_credencial.php, application/views/admin/login.php, application/views/admin/panel_acreditacion.php, application/views/admin/panel_delegado.php, application/views/public/pase_valido.php)